.background {
  background-color: #0014CB;
  background-image: url(background.png);
}

.custom-button {
  width: 242px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #0014CB;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin-top: 100px;
}

.icon {
  margin-right: 8px;
  font-size: 20px;

}

.timeline {
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
}

.timeline-item {
  position: relative;
  padding-left: 60px;
}

.timeline-item .timeline-icon {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #007bff;
  border-radius: 50%;
}

.timeline-item p {
  margin-bottom: 4px;
}

.timeline-item .text-primary {
  font-weight: bold;
  color: #007bff;
}

.span {
  color: #0014CB;
  font-size: 16px;
}

.timeline-item .text-muted {
  color: #6c757d;
}



.timeline-item .text-warning {
  color: #ffc107;
}

.timeline-item .text-info {
  color: #17a2b8;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 2px;
  height: 100%;
  background-color: #C1BBEB;
}

.timeline-item:last-child::before {
  display: none;

}

.btn-1 {
  border: none;
  border-radius: 20px;
  background-color: #fff;
}

.btn-2 {
  border: none;
  border-radius: 20px;
  background-color: #0014CB;
  color: #fff;
}

.avatar {
  width: 200px;
  height: 200px;
  top: 50px;
  left: 88.86px;
  gap: 0px;
  border-radius: 200px 0px 0px 0px;
  border: 6px solid white;
  background-color: #C1BBEB;
}

a.nav-link {
  color: #000;
}

.add {
  background-color: #0014CB;
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 10px;
}

.back {
  background: linear-gradient(#0014CB 20%, #0014 90%);
  height: 300px;
}

.checkmark::before {
  content: "✓";
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.backup {
  background: #C1BBEB;
  color: #0014ff;
}

.button {
  background: #0014CB;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;

}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0014;



}

.icon1 {
  font-size: 15px;


}

.calendar-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.date-cell {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;


}

.date-cell:hover {
  background-color: #f0f0f0;
}

.rounded-pill {
  border-radius: 50px;
}

.text-muted {
  color: #6c757d;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.fw-bold {
  font-weight: bold;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}